<h2><%= @list.name %></h2>
<h2>Bookmarks</h2>
<p><%= link_to "Create new bookmark", new_list_bookmark_path(@list) %></p>
<% @list.bookmarks.each do |bookmark| %>
    <div>
        <h4><%= bookmark.comment %></h4>
        <p><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
    </div>
<% end %>
